body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: sans-serif;
}

.app {
  margin-bottom: 20px;
  text-align: center;
}

.app__header {
  height: 70px;
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #3e3e3e;
  color: #fff;
}

.app__title {
  color: #cf3335;
}

.app__content {
  width: 90%;
  margin: 0 auto;
}
